<div class="main-body hide-on-med-and-up"> 
  <div class="container">
    <div class="row">
        <h1 class="center-align">Snapscan</h1>
    </div>
    <div class="buttons center-align">
        <a class="waves-effect waves-light btn-small hoverable" href="/users/sign_in"><i class="material-icons right">lock_open</i>Log-in</a>
        <a class="waves-effect waves-light btn-small hoverable" href="/users/sign_up"><i class="material-icons right">create</i>Sign-Up</a>
        <!-- <%= button_to "Log-out", destroy_user_session_path, method: :delete, class: "waves-effect waves-light btn-small hoverable" %>   -->
      </div>
  </div>
</div>