<%= link_to category_game_path(current_user.categories.first.id, game.id), class: 'link' do %>
    <div class="game-item">
        <h4><%= game.name %></h4>
        <p><%= number_to_currency(game.amount) %></p>
    </div>
<% end %>