<div class="game-item-show">
    <h4><%= @game.name %></h4>
    <hr />
    <p><%= @game.description %></p>
    <hr />
    <p><strong><em>Amount:</em><span class="money"><%= number_to_currency(@game.amount) %></span></strong></p>
</div>