@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.main-body {
    max-width: 378px;
    margin: auto;
    // padding-top: 40%;
    padding-top: 15%;
}

.main-body > .container > .row {
    margin-bottom: 40%;
    
}