@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.main-body {
    max-width: 378px;
    margin: auto;
    // padding-top: 40%;
    padding-top: 15%;
}

.main-body > .container > .row {
    margin-bottom: 40%;
    
}

.link * {
    text-decoration: none;
    color: black;
}

#new_user,
.my-form {
    max-width: 90%;
    margin: auto;
}

#msg {
    margin-left: 25px;
}

#game_category_ids{
    opacity: 1;
}

.category-item {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    max-width: 95%;
    margin: auto;
    box-shadow: 2px 6px 4px 5px gray;
    margin-bottom: 10%;
}

img.responsive-img {
    max-width: 25%;
    max-height: 50px;
    display: flex;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline-start: -75px;
}

.price {
    align-self: center;
    font-weight: bolder;
}

.main-container {
    max-width: 95%;
    margin: auto;
    padding: 2%;
    box-shadow: 2px 6px 4px 5px gray;
}

.top-line {
    display: flex;
    gap: 5%;
    align-items: center;
}

.top-line > * {
    margin-top: 0;
}

.game-item {
    text-align: left;
}

.money {
    float: right;
}

.game-item-show {
    max-width: 95%;
    margin: auto;
}