<div class="main-category-container hide-on-med-and-up">
    <h2 class="center-align"><%= current_user.name %>'s Categories</h2>
    <div class="category-container center-align">
        <%= render partial: 'list', collection: @categories, as: :category %>
    </div>
    <a id="add-cat-btn" class="waves-effect waves-light btn-small hoverable" href="/categories/new"><i class="material-icons right">create</i>Add Category</a>
</div>